@import "style";

header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container{
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right-col{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      p{
        @include body15;
        color: $dark-80;
      }

      button{
        @include primaryBtn;
      }
    }
  }
}